# Logs
LOG_TO_STDOUT=1
TIMEZONE='5:30'

# Image
IMAGE_TAG=

# RAG
RAG_API_URL=

# FTE
REFLEX_API_URL=https://rstn-misr-fte-codebase-production.up.railway.app
DEPLOY_URL=https://rstn-misr-fte-codebase-production.up.railway.app
