# airflow
apache-airflow
astro-run-dag
apache-airflow-providers-http
apache-airflow-providers-postgres

# utils
pytest
pydantic
ipykernel
python-dotenv

# scrape
rnet
redis
tenacity
curl-cffi

# data
pandas
numpy

# nlp