# airflow
apache-airflow
astro-run-dag

# utils
pytest
pydantic
python-dotenv
ipykernel
graphiti-core[falkordb]

# scrape
# rnet
# redis
# tenacity
# camoufox[geoip]
# curl-cffi
crawl4ai
playwright

# data
pandas
numpy

# database
pymongo
FalkorDB