# Logs
logs/
**/logs/
*.log

# Python
.venv/
**/__pycache__/
**/*.pyc
**/.pytest_cache/
*.py[cod]

# Folders
Src/Expt/
Bruno/
Docker/
Src/Loader/Deprecated/

# Git
.git/
.gitignore

# Environment
**/*.env
**/*.acl

# Docs
*.md

# Build artifacts
*.egg-info/
