# Logs
LOG_TO_STDOUT=1
TIMEZONE='5:30'

# Seeder
SEEDER_WEBSITE="www.swiggy.com"
SEEDER_PATTERN='<loc>(https://www\.swiggy\.com/city/([^/]+)/[^<]+-rest(\d+))</loc>'
SEEDER_HEADERS="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
SEEDER_THREADS=4
SEEDER_PURPOSE=ltst #full #
SEEDER_CITY=bangalore # all for all cities. Take this from rstn_url and repl [,-_] with ' '

# Scraper
SCRAPER_BATCH_SIZE=
SCRAPER_PARALLEL=

# Loader
LOADER_PURPOSE= # test, devl, prod
LOADER_BATCH_SIZE=
LOADER_THREADS=

# Mongodb
ETL_MONGO_USER=__username__
ETL_MONGO_PSWD=__password__
ETL_MONGO_HOST=__host__
ETL_MONGO_PORT=__port__
ETL_MONGO_NAME=__container_name__

# Redis
ETL_REDIS_USER=__username__
ETL_REDIS_PSWD=__password__
ETL_REDIS_HOST=__host__
ETL_REDIS_PORT=__port__

# FalkorDB
ETL_FALKOR_USER=__username__
ETL_FALKOR_PSWD=__password__
ETL_FALKOR_HOST=__host__
ETL_FALKOR_PORT=__port__
ETL_FALKOR_DABA=TEST_KG


# Proxy
PROXY_SCRAPELESS_CHANNEL_ID=
PROXY_SCRAPELESS_API_KEY=
PROXY_SCRAPELESS_API_URL=
