db = db.getSiblingDB('admin');

db.createUser({
  user: "__code_user__",
  pwd: "__code_pswd__",
  roles: [
    { role: "readWrite", db: "admin" }
  ]
});

db.createUser({
  user: "__agent_user__",
  pwd: "__agent_pswd__",
  roles: [
    { role: "read", db: "admin" }
  ]
});
